[submodule "external/erdosproblems"]
	path = external/erdosproblems
	url = https://github.com/teorth/erdosproblems.git
[submodule "external/formal-conjectures"]
	path = external/formal-conjectures
	url = https://github.com/google-deepmind/formal-conjectures.git
